.homePageBody {
  background-color: black
}

.hero-text-wrapper {
}

.homePageTitle {
  margin-top: 0px;
  margin-left: 25px;
  color: rgba(255, 255, 255, 0.66);
  max-width: 80%;
}

.homePageTitleSecondary {
    color: rgba(255, 255, 255, 0.66);
    font-size: 2rem;
    margin-left: 25px;
    max-width: 80%;
}

@media (max-width:992px) {
    .homePageTitle {
        font-size: 6rem
    }
    .homePageTitleSecondary {
        font-size: 2rem
    }
}

@media (max-width:768px) {
    .homePageTitle {
        font-size: 5rem
    }
    .homePageTitleSecondary {
        font-size: 2.25rem
    }
}

.background-image-container {
    -webkit-filter: contrast(175%) grayscale(66%);
    filter: contrast(175%) grayscale(66%);
    object-fit: contain;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.sectionSeperatorButton {
  text-decoration: none !important;
}

.sectionSeperator {
  cursor: pointer;
  text-align: center;
  color: white;
  font-size: 2.25vw;
  padding-top: 20px;
  background-color: black;
  height: 75px;
  width: 100%;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
}

@media (max-width:768px) {
    .section-container:first-of-type {
        padding-top: 30px
    }

    .background-image-container {
      zoom: 45%;
      padding-left: 45px;
    }

    .PCVideoContainer {
      margin-top: -10px;
      padding-top: 0px;
    }

    .sectionSeperator {
      padding-top: 4px;
      font-size: 4.5vw
    }
}

.PCVideoContainer {
  background-size: cover;
}

.PCVideo {
  margin-top: 15px;
  padding-top: 0px;
  width: 100%;
  height: 300px;
  background-color: black
}

.giveAwayFormContainer {
  text-align: center;
  background-color: rgba(26, 26, 26, 1);
  color: white;
  border-radius: 5px;
  width: 400px;
  height: 30%;
  overflow: auto;
}

.giveAwayFormContent {
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

.giveAwayFormTitle {
  color: white;
  font-size: 25px;
}

.giveAwayFormMessage {
  color: rgb(128, 128, 128);
  font-size: 12px;
}

.emailForm {
  width: 100%;
  color: black;
}

.registerButton {
  margin-top: 20px;
  width: 25%;
  color: black
}

.giveAwayLB {
  position: fixed;
  z-index: 1000000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: none
}

.giveAwayLB.active {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center
}
