.homePageBody {
  background-color: black
}

.homePageTitle{
}

.homePageTitleSecondary {
    font-size: 2rem
}

@media (max-width:992px) {
    .homePageTitle {
        font-size: 6rem
    }
    .homePageTitleSecondary {
        font-size: 2rem
    }
}

@media (max-width:768px) {
    .homePageTitle {
        font-size: 4.5rem
    }
    .homePageTitleSecondary {
        font-size: 1.75rem
    }
}

.background-image-container {
    -webkit-filter: contrast(175%) grayscale(25%);
    filter: contrast(175%) grayscale(25%);
    object-fit: contain;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.sectionSeperatorButton {
  text-decoration: none !important;
}

.sectionSeperator {
  cursor: pointer;
  text-align: center;
  padding-top: 20px;
  font-size: 2.25vw;
  background-color: black;
  height: 75px;
  width: 100%;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  overflow: auto;
}

@media (max-width:992px) {
    .section-container:first-of-type {
        padding-top: 30px
    }

    .background-image-container {
      zoom: 70%;
      padding-left: 15px;
    }

    .PCVideoContainer {
      margin-top: -30px;
      padding-top: 0px;
    }

    .sectionSeperator {
      padding-top: 15px;
      font-size: 3.75vw
    }
}

.PCVideoContainer {
  background-size: cover;
}

.PCVideo {
  margin-top: 15px;
  padding-top: 0px;
  width: 100%;
  height: 325px;
  background-color: black
}
