.homePageBody {
  background-color: black;
}

.heroContainer {
  align-items: center;
  text-align: center;
  /* background-image: url("./assets/images/metav.jpg");
  -webkit-filter: contrast(200%) grayscale(75%);
  filter: contrast(200%) grayscale(75%); */
  object-fit: contain;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.homePageTitle {
  text-align: left;
  padding-top: min(10vw, 75px);
  padding-bottom: 0.75vw;
  margin-left: 20px;
  color: rgba(255, 255, 255, 0.8);
  font-size: min(5.25vw, 40px);
}

.PCVideo {
  width: 100%;
  max-height: 350px;
  background-color: black
}

.sectionSeperatorButton {
  text-decoration: none !important;
  position: absolute;
  width: 100%;
  font-size: min(4vw, 30px);
}

.sectionSeperator {
  cursor: pointer;
  text-align: center;
  color: white;
  background-color: black;
  height: 75px;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  width: 100%;
  padding-top: max(8px, 1.25vw);
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;
}

.dropIntroductionContainer {
  margin-top: 91px; /*Height of sectionSeperator + 16px*/
  text-align: center;
  width: 95%;
}

.dropIntroductionCopy {
  text-align: center;
  display: inline-block;
}

.dropIntroductionTitle {
  text-align: left;
  margin-top: 9vw;
  margin-left: 25px;
  color: rgba(255, 255, 255, 0.8);
  font-size: min(4.5vw, 30px);
}

.dropIntroductionSubTitle {
  text-align: left;
  margin-top: -18px;
  margin-left: 25px;
  font-size: 14px;
  font-weight: 400;
  color: #FFFF00;
}

.dropIntroductionCTAs {
  text-align: center;
  margin-top: 25px;
}

.dropButton {
  width: 150px;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  background-color: black;
  margin-bottom:25px;
}

.dropButton:hover {
  text-decoration: none;
  color: black;
  background-color: white;
  border: 1px solid black;
}

.dropButton:active {
  transform: translateY(4px);
}

.dropIntroductionCarouselContainer {
  text-align: center;
  align-items: center;
  overflow: hidden;
  display: flex;
  position: relative;
  margin-top: 5%;
  margin-left: 5vw;
  border: 1.5px solid;
  border-image: linear-gradient(to right, #FFFF00 50%, #008080 50%) 2;
}

.dropIntroductionCarouselItem {
  min-width: 100%;
  transform: translateX(0%);
  transition: transform 0.5s;
}

.dropIntroductionImage {
  display: flex;
  border-radius: 5px;
  margin-top: 10%;
  margin-left: 10%;
  width: 80%;
}

.dropImagesTitle {
  text-align: left;
  width: 80%;
  color: #6d6d64;
  font-size: min(3.5vw, 18px);
}

.carouselNavButtons {
  margin-top: 8px;
  margin-left: 5vw;
  text-align: center;
}

.carouselNavBTN {
  height: 12px;
  width: 12px;
  border: 0px solid transparent;
  border-radius: 50%;
  margin: 0 4px;
  background-color: white;
  opacity: 0.33;
}

.carouselNavButtons #b1 {
  background-image: linear-gradient(to right, #FFFF00 50%, #008080 50%);
  opacity: 0.6;
}

@media(max-width: 768px) {
  .dropIntroductionTitle {
    margin-top: 2vw;
  }
  .dropIntroductionCarouselContainer {
    margin-top: 0%;
  }
}

.fttr {
  color: white;
}

.giveAwayFormContainer {
  text-align: center;
  background-color: rgba(26, 26, 26, 1);
  color: white;
  border-radius: 5px;
  width: min(400px, 85%);
  height: max(30%, 266px); ;
  overflow: auto;
}

.giveAwayFormContent {
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

.giveAwayFormTitle {
  color: white;
  font-size: min(25px, 5vw);
}

.giveAwayFormMessage {
  color: rgb(128, 128, 128);
  font-size: min(14px, 3vw);
}

.emailForm {
  width: 100%;
  color: black;
}

.registerButton {
  margin-top: auto;
  background-color: white;
  width: 50%;
  color: black;
  border: 1px solid transparent;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  padding: 4px 9px;
  border-radius: 5px;
}

.registrationFailAlert {
  background-color: red;
  border-color: black;
  text-align: center;
  align-items: center;
  color: #fff;
  margin: auto;
  padding: 4px 9px;
  padding-left: 15px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 0;
  display: none
}

.registrationFailAlert.active {
  display: flex;
}

.registrationSuccessAlert {
  background-color: green;
  border-color: black;
  text-align: center;
  align-items: center;
  color: #fff;
  margin: auto;
  padding: 4px 9px;
  padding-left: 15px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 0;
  display: none
}

.registrationSuccessAlert.active {
  display: flex;
}

.giveAwayLB {
  position: fixed;
  z-index: 1000000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

.giveAwayLB.active {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center
}
