@import url(https://fonts.googleapis.com/css?family=Roboto:900|Roboto+Mono:300,400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

.dropHeaderImage-container{
  display: flex;
  justify-content: center;
  border-radius: 3px
}

.pText {
  text-align: center;
  line-height: 14px;
  font-size: min(2.6vw, 10px);
  color: rgba(52, 52, 52, 1);
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 0px;
}

.gangPlanButtonContainer {
  text-align: center;
}

.gangPlanButton {
  position: relative;
  color: black;
  background-color: white;
  font-size: 12px;
  padding: 4px 12px;
  border-radius: 5px;
  border: 1px solid black;
  z-index: 100
}

.gangPlanButton:hover {
  text-decoration: none !important;
  color: white;
  background-color: black;
}

.gangPlanButton:active {
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

.listedItemContainer {
    background-color: #fff;
    padding: 0.5rem 1rem;
    position: relative;
    width: 80%;
    margin: -30px auto 20px;
    border: 0.5px solid rgba(192, 192, 192, 0.5);
    border-radius: 5px
}

.dropCardContainer {
    background-color: #fff;
    padding: 8px 4px;
    position: relative;
    width: 80%;
    height: 115px;
    overflow: hidden;
    margin: -5em auto 20px;
    border: 0.5px solid rgba(192, 192, 192, 0.5);
    border-radius: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropCardContainerTitle {
  text-align: center;
  font-size: max(0.75vw, 14px);
  margin-top: 4px;
  margin-bottom: 6px;
}

.SOL {
  height: 14px;
  width: 14px;
  margin-bottom: 1px;
}

/* .viewDropButton {
  margin-top: auto;
  background-color: white;
  width: 5%;
  color: black;
  border: 1px solid rgba(192, 192, 192, 0.5);
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  padding: 4px 9px;
  border-radius: 5px;
}

.viewDropButton:hover {
  text-decoration: none;
  background-color: black;
  color: white
} */

@media (max-width:992px) {
    .listedItemContainer {
        padding: 2rem;
        margin-top: -30px
    }
}

@media (max-width:992px) {
    .listedItemContainer {
        width: 95%;
        padding: 2rem 3em;
        margin-top: -30px
    }
}
.gangPlanLB {
  text-align: center;
  position: fixed;
  z-index: 1000000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: none
}

.gangPlanLB.active {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.gangPlanContainer {
  background-color: rgba(26, 26, 26, 1);
  height: 75%;
  width: 66%;
  border-radius: 5px;
  overflow: auto;
}

.gangPlanList {
  padding-left: min(150px, 20vw);
  padding-right: min(75px, 10vw);
  padding-top: min(50px, 7vw);
  color: white;
  text-align: left;
  font-size: 20px;
  overflow: auto;
}

.lightBoxItem {
  border-radius: 5px;
  cursor: pointer;
}

.lightBoxItem:hover {
  opacity: 0.7;
}

#lightBox {
  text-align: center;
  position: fixed;
  z-index: 1000000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: none
}

#lightBox.active {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#lightBox img {
  justify-content: center;
  text-align: center;
  max-width: 80%;
  max-height: 75%;
  border-radius: 5px;
}
