.aboutBody {
  background-color: black;
  object-fit: center;
}

.pageTitle {
  color: rgba(255, 255, 255, 0.8);
  font-size: min(3vw, 28px);
  text-align: center;
  margin-top: 12%;
}

@media (max-width: 768px) {
  .pageTitle {
    margin-top: 18%;
  }
}

.sectionTitle {
  margin-top: 7.5%;
  color: rgba(255, 255, 255, 0.8);
  font-size: min(3vw, 20px);
  text-align: left;
}

.sectionText {
  color: rgba(255, 255, 255, 0.66);
  font-weight: 600;
  text-align: left;
}

.teamTitle {
  margin-top: 7.5%;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  font-size: min(3vw, 20px);
}

.teamMemberContainer {
  text-align: center;
  align-items: center;
  position: relative;
  width: 100%;
  /* margin-left: 12.5%; */
  margin-top: 25px;
  border: 1.5px solid black;
  overflow: hidden;
  overflow-y: scroll;
  /* background-color: rgba(26, 26, 26, 1); */
}

.teamMemberContainer::-webkit-scrollbar {
  display: none;
}
.teamMemberContainer:hover {
  border-image: linear-gradient(to right, #FFFF00 50%, #008080 50%) 2;
}

.teamMemberImage {
  margin-top: 5%;
  height: 50%;
  width: 50%;
  border-radius: 50%;
}

.teamMemberDetails {
  margin-left: 10%;
}

.teamMemberName {
  text-align: left;
  color: rgba(255, 255, 255, 0.8);
  font-size: min(3vw, 14px);
  margin-right: 8%;
  font-weight: 600;
}

.teamMemberRole {
  margin-top: -14px;
  margin-right: 8%;
  text-align: left;
  color: rgba(255, 255, 255, 0.66);
  font-size: min(2.5vw, 12px);
  font-weight: 600;
}

.infoButton {
  margin-left: 10%;
  margin-top: -15px;
  text-align: left;
  color: red;
}

.infoButton:hover {
  cursor: pointer;
}

.infoButtonTitle {
  text-align: left;
  color: rgba(255, 255, 255, 0.66);
  font-weight: 400;
}

#teamMemberBioContainer {
  text-align: center;
  align-items: center;
  position: absolute;
  background: black;
  display: none;
}

#teamMemberBioContainer.active {
  display: flex;
}

#teamMemberBio {
  margin-top: 8px;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  line-height: 1.5;
  font-size: min(2.6vw, 12px);
  font-weight: 600;
  color: rgba(255, 255, 255, 0.66);
}

.iconify {
  color: rgba(255, 255, 255, 0.8);
}

.iconify:hover {
  color: #008080;
}

.fttr {
  padding-top: 5%;
  color: white;
}
